* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.wrapper {
  background: linear-gradient(to right, red 30%, black 30%);
  height: 100vh;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  padding-right: 685px;
  padding-left: 74px;
  padding-top: 46px;
  display: flex;
  align-items: center;
}
.icon__text {
  font-weight: 600;
  font-size: 20px;
  padding-left: 21px;
  display: flex;
}
.header__container {
  display: flex;
  padding-top: 81px;
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-left: 72px;
}
.nav__link {
  text-decoration: none;
  color: #ffffff;
  padding-right: 71px;
  font-weight: 600;
  font-size: 18px;
}
.header__search {
  display: flex;
  height: 31px;
  width: 189px;
  border-bottom: 1px solid #a8a8a8;
  margin-left: 54px;
  position: relative;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 79px;
  margin-right: 204px;
}
.header__search::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  background-image: url(img/search.png);
}
.header__input {
  outline: none;
  border: none;
  background-color: #000;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 8px;
  padding-left: 44px;
  width: 100%;
  font-size: 18px;
}
.header__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #a8a8a8;
}
.logo__text {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-size: 350px;
  position: relative;
  z-index: 0;
}
.logo__img {
  width: 1348px;
  z-index: 1;
  position: absolute;
  top: 409px;
}
.markers {
  position: absolute;
  width: 152px;
  height: 32px;
  left: 0px;
  top: 573px;
  border-bottom: #000 3px solid;
}
.marker {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  width: 88px;
  height: 30px;
  left: 64px;
}
.markers-two {
  position: absolute;
  width: 152px;
  height: 32px;
  right: 0px;
  top: 573px;
  border-bottom: #ff0000 3px solid;
}
.marker-two {
  color: #ff0000;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  width: 88px;
  height: 30px;
  right: 64px;
}
.video {
  position: absolute;
  background: #df4848;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 187px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video__img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #ffffff 5px solid;
  overflow: hidden;
  position: relative;
  margin-right: 25px;
}
.video__el {
  position: absolute;
  left: 30px;
  top: 20px;
}
.video__text {
  font-weight: 600;
  font-size: 20px;
}
.link {
  display: flex;
  position: absolute;
  color: #ff0000;
  font-weight: 600;
  font-size: 25px;
  bottom: 40px;
margin-left: 419px;
}
.link__el {
  text-decoration: none;
  color: #ff0000;
  padding-left: 5px;
}
